



 <div class="parallax-container z-depth-1">
      <div class="parallax"><img src="https://www.syndrometech.net/images/aboutusheader.jpg"></div>
     <div class="center contact-container">
     <div data-aos="fade-up" data-aos-duration="500" class="contact-title">
          <h4 class="white-text">we'd love to hear from you</h4>
     </div>
     <div data-aos="fade-up" data-aos-duration="300">
          <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, dicta!</p>
     </div>
     <div data-aos="fade-up">
          <a href="/contact-us" class="btn pink">contact us now</a>
     </div>
</div>
    </div>
<div class="contact-us-main-section container">
     <div class="row">
          <div class="col s12 m12 l6">
               <div class="heading-3">
                    Say hello!
               </div>
               <p class="contact-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quaerat voluptates ipsum iure, ex accusantium.</p>
               <div class="row">
                    <div class="col s1">
                         <a href="" class="btn facebook-btn">
                              <i class="icons-social fa fa-facebook"></i>
                         </a>
                    </div>
                    <div class="col s1">
                         <a href="" class="btn instagram-btn">
                              <i class="icons-social fa fa-instagram"></i>
                         </a>
                    </div>
                    <div class="col s1">
                         <a href="" class="btn twitter-btn">
                              <i class="icons-social fa fa-twitter"></i>
                         </a>
                    </div>
                    <div class="col s1">
                         <a href="" class="btn youtube-btn">
                              <i class="icons-social fa fa-youtube-play"></i>
                         </a>
                    </div>
               </div>
          </div>
          <div class="col s12 m12 l6">
               <div class="row">
                    <form class="col s12 contact-us-form" action="/contact-form"  method="POST">
                         <div class="row">
                              <div class="input-field col s12 l6">
                                   <input name="email" id="first_name" type="text" class="validate" required>
                                   <label for="first_name">Email <span class="red-text">
                                        *
                                   </span></label>
                              </div>
                                   <div class="input-field col s12 l6">
                                   <input name="number" id="number" type="number">
                                   <label for="number">
                                        Contact Number <sup>(optional)</sup>
                                   </label>
                              </div>
                         </div>
                         <div class="row">
                              <div class="input-field col s12">
                                   <textarea id="textarea1" name="message" class="materialize-textarea"></textarea>
                                   <label for="textarea1">
                                             Your message(optional)
                                   </label>
                              </div>
                         </div>
                         <div class="input-field">
                              <button type="submit" class="btn col s6 offset-s6 black">
                                   send message
                              </button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>